@charset "utf-8";
/*重置CSS*/
body,
html {
    color: #333;
    font-size: 12px;
}

body,
html,
div,
blockquote,
img,
label,
p,
h1, h2, h3, h4, h5, h6,
pre,
ul, ol, li,
dl, dt, dd,
form,
a,
fieldset,
input,
button,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    word-break: break-all;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif
}

select, textarea {
    outline: none;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, strong, th, var {
    font-weight: normal
}

em, i {
    font-style: normal;
}

ol, ul {
    list-style: none;
    list-style-position: inside
}

a {
    color: #333;
    text-decoration: none
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

abbr, acronym {
    border: 0
}

input::-webkit-input-placeholder {
    color: #ccc !important;
}

input:-moz-placeholder {
    color: #ccc !important;
}

input::-moz-placeholder {
    color: #ccc !important;
}

input:-ms-input-placeholder {
    color: #ccc !important;
}

/*公用css*/
.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    clear: both
}

.clearfix:before,
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden
}

.c-red {
    color: #f00;
}

.c-333 {
    color: #333;
}

.c-666 {
    color: #666;
}

.c-999 {
    color: #999;
}

.c-f60 {
    color: #f60;
}

.c-f80 {
    color: #f80;
}

.w100 {
    width: 100px !important;
}

.w105 {
    width: 105px !important;
}

.w120 {
    width: 120px !important;
}

.w230 {
    width: 230px !important;
}

.w250 {
    width: 250px !important;
}

.w260 {
    width: 260px !important;
}

.w270 {
    width: 270px !important;
}

.w300 {
    width: 300px !important;
}

.w500 {
    width: 500px !important;
}

.w550 {
    width: 550px !important;
}

.w700 {
    width: 700px !important;
}

.w790 {
    width: 790px !important;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.mt4 {
    margin-top: 4px;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.hide {
    display: none;
}

.big {
    float: left;
    width: 100%;
    /*min-width: 1200px*/
}

.index-pic {
	float: left;
    width: 100%;
}

.index-pic a {
	display: block;
	width: 100%;
}

.index-pic img {
	vertical-align: middle;
}

.wm-1200 {
    width: 1200px;
    margin: 0 auto;
    position: relative
}

.wm-1200:before,
.wm-1200:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden
}