/*
 *公用底部
 */

.st-brand{
    margin-top: 40px;
    padding: 17px 0;
    background: #f9f9f9;
}
.brand-list{
    font-size: 0;
}
.brand-list .item{
    color: #666;
    display: inline-block;
    width: 299px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #e4e4e4;
    font-size: 16px;
}
.brand-list .item.last{
    width: 300px;
    border-right: 0;
}
.brand-list .item i{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: -3px 10px 0 0;
    background: url("../images/home-page-icon.png") no-repeat;
}
.brand-list .item .icon1{
    background-position: 0 -269px;
}
.brand-list .item .icon2{
    background-position: 0 -305px;
}
.brand-list .item .icon3{
    background-position: 1px -341px;
}
.brand-list .item .icon4{
    background-position: 0 -379px;
}

/* 帮助 */
.st-help img {
	vertical-align: middle;
}

.contact-us{
    float: left;
    margin: 40px 50px 0 0;
    font-size: 0;
}
.contact-us .icon{
    display: inline-block;
    width: 46px;
    height: 46px;
    vertical-align: top;
    background: url("../images/home-page-icon.png") no-repeat 0 -419px;
}
.contact-us .txt{
    color: #fff;
    display: inline-block;
    line-height: 22px;
    margin-left: 10px;
    font-size: 14px;
}

.help-lsit dl {
    float: left;
    width: 160px;
    margin-left: 10px;
}

.help-lsit dl dt,
.help-lsit dl dt a {
    color: #fff;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold
}

.help-lsit dl dd a {
    display: block;
    color: #ccc;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.help-lsit dl dd a:hover {
    color: #fff;
}

.st-wechat {
    float: right;
    text-align: center;
}

.st-wechat span {
    color: #fff;
    display: block;
    line-height: 20px;
}

/* 网站底部 */
.st-footer {
    padding: 10px 0;
    background: #263C49;
	border-top: 1px solid #B7C0C2;
}

.st-foot-menu {
    padding: 10px 0;
    text-align: center;
    font-size: 0
}

.st-foot-menu a {
    color: #999;
    display: inline-block;
    height: 13px;
    line-height: 13px;
    padding: 0 10px;
    border-left: 2px solid #c1c1c1;
    font-size: 13px
}

.st-foot-menu a:hover {
    color: #fff;
}

.st-foot-menu a:first-child {
    border-left: 0
}

.st-foot-edit {
    color: #B7C0C2;
    text-align: center;
}

/* 友情链接 */
.st-link {
	background: #263C49
}

.st-link-list {
    padding: 10px 0;
}

.st-link-list strong,
.st-link-list a {
    color: #B7C0C2;
    height: 20px;
    line-height: 20px;
}

.st-link-list strong {
    float: left;
    width: 6%;
}

.st-link-list .child {
    float: left;
    width: 94%;
}

.st-link-list a {
    float: left;
    margin: 0 10px 0 0;
}

.st-link-list a:hover {
    color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
.st-footer {
	display: none;
}
.st-link {
    display: none;
}
}