
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/a61ee6d529eb44cab00f5e4e3af0a5f4.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wifi:before { content: "\e611"; }

.icon-close:before { content: "\e63d"; }

.icon-share:before { content: "\e65c"; }

.icon-search:before { content: "\e606"; }

.icon-wechat:before { content: "\e608"; }

.icon-weibo:before { content: "\e609"; }

.icon-address:before { content: "\e623"; }

.icon-m2:before { content: "\e624"; }

.icon-banquet:before { content: "\e62d"; }

.icon-classroom:before { content: "\e62e"; }

.icon-rectangular:before { content: "\e62f"; }

.icon-theatre:before { content: "\e630"; }

.icon-uplatform:before { content: "\e631"; }

.icon-calendar1:before { content: "\e629"; }

.icon-delete:before { content: "\e657"; }

.icon-list:before { content: "\e62a"; }

.icon-arrowsortdown:before { content: "\e62b"; }

.icon-arrowsortup:before { content: "\e632"; }

.icon-time:before { content: "\e63e"; }

.icon-twitter:before { content: "\ecb3"; }

.icon-telephone:before { content: "\e667"; }

.icon-plus:before { content: "\e648"; }

.icon-duibivs:before { content: "\e7d7"; }

.icon-facebook:before { content: "\e801"; }

.icon-question:before { content: "\e65d"; }

.icon-layout:before { content: "\e64e"; }

.icon-erweima:before { content: "\e6c6"; }

.icon-shuaxin2:before { content: "\e6a6"; }

.icon-right:before { content: "\e604"; }

.icon-logo:before { content: "\e67f"; }

.icon-send:before { content: "\e680"; }

.icon-brandname:before { content: "\e681"; }

.icon-cross:before { content: "\e682"; }

.icon-qq:before { content: "\e683"; }

.icon-cuetip-sale:before { content: "\e684"; }

.icon-cuetip-service:before { content: "\e685"; }

.icon-cuetip-manifold:before { content: "\e686"; }

.icon-arrow-double:before { content: "\e687"; }

.icon-arrow-up:before { content: "\e688"; }

.icon-arrow:before { content: "\e689"; }

.icon-arrow-down:before { content: "\e68a"; }

.icon-arrow-left:before { content: "\e68b"; }

.icon-calendar:before { content: "\e68c"; }

.icon-phone:before { content: "\e68d"; }

.icon-flexpay:before { content: "\e692"; }

.icon-like:before { content: "\e68e"; }

.icon-like-hollow:before { content: "\e68f"; }

.icon-favorite-hollow:before { content: "\e690"; }

.icon-favorite:before { content: "\e691"; }

.icon-fishbone:before { content: "\e693"; }

.icon-board:before { content: "\e694"; }

.icon-wine:before { content: "\e695"; }

.icon-review-star:before { content: "\e696"; }

.icon-review-star-half:before { content: "\e697"; }

.icon-telegram:before { content: "\e8db"; }

.icon-arrow-expand:before { content: "\e698"; }

.icon-note-clock:before { content: "\e699"; }

.icon-note-calendar:before { content: "\e69a"; }

.icon-note-price:before { content: "\e69b"; }

.icon-note-headcount:before { content: "\e69c"; }

.icon-kezhusu:before { content: "\e666"; }

.icon-accomm-bedtype:before { content: "\e69d"; }

.icon-accomm-roomtype:before { content: "\e69e"; }

.icon-accomm-headcount:before { content: "\e69f"; }

.icon-housetype-detach:before { content: "\e6a0"; }

.icon-housetype-stacked:before { content: "\e6a1"; }

.icon-housetype-semi:before { content: "\e6a2"; }

.icon-housetype-town:before { content: "\e6a3"; }

.icon-accomm-people:before { content: "\e6a4"; }

.icon-accomm-m:before { content: "\e6a5"; }

.icon-field:before { content: "\e601"; }

.icon-price:before { content: "\e602"; }

.icon-schedule:before { content: "\e603"; }

.icon-merchant:before { content: "\e605"; }

.icon-louyu-:before { content: "\e607"; }

.icon-fangxing:before { content: "\e668"; }

.icon-jinditiezhan:before { content: "\e669"; }

.icon-kezuofan:before { content: "\e66a"; }

.icon-tigongcanyin:before { content: "\e66b"; }

.icon-kekaifapiao:before { content: "\e66c"; }

.icon-kefu1:before { content: "\e72d"; }

.icon-xiaochengxu:before { content: "\e672"; }

.icon-app:before { content: "\e673"; }

.icon-ditie2:before { content: "\e74c"; }

.icon-jiache:before { content: "\e679"; }

.icon-buhang:before { content: "\e74d"; }

.icon-release-success:before { content: "\e72e"; }

.icon-panorama:before { content: "\e742"; }

.icon-destination:before { content: "\e60c"; }

.icon-taocanmiaoshu-copy:before { content: "\e756"; }

