/*
 *首页主体css
 **/

/* 全局导航 */
.global-area {
    height: 400px;
    position: relative;
}

.global-nav-box {
    width: 220px;
    height: 366px;
    position: absolute;
    top: 17px;
    left: 50%;
    z-index: 1001;
    margin-left: -600px;
    background: #fff;
}

.global-nav-group {
    height: 61px;
}

.global-nav-hd {
    height: 61px;
    position: relative;
}

.global-nav-group:hover .global-nav-hd {
    background: #eff2f5;
}

.global-nav-hd:after {
    content: "";
    display: none;
    width: 7px;
    height: 10px;
    position: absolute;
    right: -1px;
    top: 50%;
    z-index: 10;
    margin-top: -5px;
    background: url("../images/home-page-icon.png") no-repeat -17px -45px;
}

.global-nav-group:hover .global-nav-hd:after {
    display: block;
}

.global-nav-hd .icon-area {
    float: left;
    width: 60px;
    height: 61px;
}

.global-nav-hd .icon {
    display: table-cell;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px dotted #334150;
    background: #475769;
}

.global-nav-group:hover .global-nav-hd .icon {
    border-bottom: 1px dotted transparent;
    background: #2dbb55;
}

.global-nav-hd .icon img {
    max-width: 28px;
    max-height: 28px;
    vertical-align: middle;
}

.global-nav-hd .bar {
    float: left;
    width: 148px;
    height: 40px;
    padding: 10px 0;
    margin: 0 6px;
    position: relative;
    border-bottom: 1px dotted #e4e4e4;
}

.global-nav-group:hover .global-nav-hd .bar {
    border-bottom: 1px solid transparent;
}

.global-nav-hd .bar:after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    background: url("../images/home-page-icon.png") no-repeat 0 -31px;
}

.global-nav-group:hover .global-nav-hd .bar:after {
    display: none;
}

.global-nav-hd .bar .tit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.global-nav-group:hover .global-nav-hd .bar .tit a {
    color: #f60;
}

.global-nav-hd .bar .child {
    height: 16px;
    margin-top: 6px;
    overflow: hidden;
    font-size: 0;
}

.global-nav-hd .bar .child .item {
    color: #666;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-right: 8px;
    font-size: 12px;
}

.global-nav-hd .bar .tit a:hover,
.global-nav-hd .bar .child .item:hover {
    color: #f60;
}

.global-nav-bd {
    display: none;
    width: 440px;
    height: 350px;
    padding: 7px 15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 220px;
    border: 1px solid #eee;
    background: #fff;
}

.global-nav-bd .type-block {
    padding: 13px 0;
}

.global-nav-bd .type-bar {
    height: 16px;
    line-height: 16px;
    padding-left: 10px;
    border-left: 4px solid #2dbb55;
    font-size: 14px;
    font-weight: bold;
}

.global-nav-bd .type-list {
    height: 40px;
    padding-top: 6px;
    overflow: hidden;
    font-size: 0;
}

.global-nav-bd .type-list a {
    color: #666;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding-right: 10px;
    margin: 6px 10px 0 0;
    border-right: 1px solid #ccc;
    font-size: 12px;
}

.global-nav-bd .type-bar a:hover,
.global-nav-bd .type-list a:hover {
    color: #f60;
}

/* banner样式 */
.st-banner-container {
    height: 400px;
    background: #e7e7e7;
}

.st-banner-container .swiper-slide {
    overflow: hidden;
}

.st-banner-container .item {
    display: block;
    width: 1920px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -960px;
}

.st-banner-container .item img {
    max-width: 100%;
    max-height: 100%;
}

.st-banner-container .swiper-pagination {
    left: 50%;
    bottom: 10px;
}

.st-banner-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background: #fff;
}

.st-banner-container .swiper-pagination-bullet-active {
    background: #fff;
}

/* 最新数据展示 */
.new-data-bar {
    padding: 10px 0;
    background: #f9f9f9;
}

.new-data-bar .myd {
    float: left;
    color: #666;
    height: 30px;
    line-height: 30px;
    padding: 0 40px 0 70px;
    font-size: 14px;
}

.new-data-bar .myd .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    background: url("../images/home-page-icon.png") no-repeat 0 -82px;
}

.new-data-bar .myd .data {
    color: #f60;
    font-size: 12px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

.new-data-bar .myd .num {
    font-size: 24px;
}

/* 最新订单 */
.new-order-bar {
    height: 30px;
}

.new-order-bar .swiper-slide {
    line-height: 30px;
    font-size: 0;
}

.new-order-bar .name {
    color: #666;
    display: inline-block;
    max-width: 520px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.new-order-bar .name:hover {
    color: #f60;
    text-decoration: underline;
}

.new-order-bar .item {
    color: #999;
    display: inline-block;
    max-width: 120px;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    font-size: 12px;
}

/* 栏目结构 */
.column-container {
    margin-top: 50px;
}

.column-bar {
    position: relative;
}

.column-bar .col-title {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
}

.column-bar .tab-group {
    position: absolute;
    left: 244px;
    bottom: 5px;
    font-size: 0;
}

.column-bar .tab-group li {
    color: #666;
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
    font-size: 14px;
}

.column-bar .tab-group li.on {
    color: #2dbb55;
    border-bottom: 2px solid #2dbb55;
}

.column-bar .more-link {
    color: #999;
    float: right;
    height: 40px;
    line-height: 40px;
}

.column-bar .more-link:hover {
    color: #f60;
}

.column-bar .more-icon {
    display: inline-block;
    width: 7px;
    height: 11px;
    vertical-align: middle;
    margin: -3px 0 0 5px;
    background: url("../images/home-page-icon.png") no-repeat 0 -45px;
}

.column-bar .more-link:hover .more-icon {
    background: url("../images/home-page-icon.png") no-repeat 0 -61px;
}

.column-wrapper {
    padding-top: 15px;
}

.tab-con-box {
    display: none;
}

.column-list-group > li {
    float: left;
}

/*.column-list-group > li.mr_0 {
    margin-right: 0;
}*/

.column-list-group .first-item {
    width: 468px;
    /*height: 256px;*/
    margin-right: 20px;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.column-list-group .first-item:hover {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
}

.column-list-group .first-item .sale-icon {
    display: block;
    width: 65px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 10;
    background: url("../images/home-page-icon.png") no-repeat 0 -475px;
}

.column-list-group .first-item .img-area {
    display: table-cell;
    width: 468px;
    height: 256px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    background: #e7e7e7;
}

.column-list-group .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.column-list-group .first-item:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.column-list-group .first-item .info-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.column-list-group .first-item .info-bar .tit {
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 136px 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    background: rgba(0, 0, 0, .3);
}

.column-list-group .first-item .info-bar .pri {
    display: block;
    color: #fff;
    width: 136px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background: #f60;
}

.column-list-group .first-item .info-bar .pri .jg {
    font-size: 16px;
}

.column-list-group .first-item .info-bar .pri .num {
    font-size: 22px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

.column-list-group .item {
    width: 224px;
    margin: 0 20px 20px 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: #fff;
}

/*.column-list-group .item:nth-of-type(5) {
    margin-left: 0;
}*/

.qf-first-item {
    width: 468px;
    /*height: 472px;*/
    margin: 0 20px 20px 0;
    float: left;
    background: #fff;
}

.qf-first-item > a {
    display: block;
}

.qf-first-item .img-area {
    display: table-cell;
    width: 468px;
    height: 368px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: #e7e7e7;
}

.qf-first-item .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.qf-first-item:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.qf-first-item .info-area {
    padding-bottom: 5px;
    border: 1px solid #f1f1f1;
    border-top: 0;
}

.qf-first-item .tit {
    height: 48px;
    line-height: 24px;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.qf-first-item .tit-al {
    height: 22px;
    line-height: 22px;
    padding: 8px 10px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qf-first-item .data-bar {
    padding: 0 10px;
}

.qf-first-item .data-bar .myd {
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.qf-first-item .data-bar .pri {
    float: right;
    color: #f60;
    height: 30px;
    line-height: 30px;
}

.qf-first-item .data-bar .pri .jg {
    font-size: 16px;
}

.qf-first-item .data-bar .pri .num {
    font-size: 20px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

.sec-items {
	float: left;
    width: 712px;
}

.column-list-group .item:hover {
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
}

.column-list-group .item > a {
    display: block;
}

.column-list-group .item .img-area {
    display: table-cell;
    width: 224px;
    height: 152px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: #e7e7e7;
}

.column-list-group .item .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.column-list-group .item:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.column-list-group .item .info-area {
    padding-bottom: 5px;
    border: 1px solid #f1f1f1;
    border-top: 0;
}

.column-list-group .item .tit {
    height: 48px;
    line-height: 24px;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.column-list-group .item .tit-al {
    height: 22px;
    line-height: 22px;
    padding: 8px 10px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-list-group .item .data-bar {
    padding: 0 10px;
}

.column-list-group .item .data-bar .myd {
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.column-list-group .item .data-bar .pri {
    float: right;
    color: #f60;
    height: 30px;
    line-height: 30px;
}

.column-list-group .item .data-bar .pri .jg {
    font-size: 16px;
}

.column-list-group .item .data-bar .pri .num {
    font-size: 20px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

/* 线路 */
.line-type-box{
    /*height: 532px !important;*/
    overflow: hidden;
}
/* 酒店、租车、景点 */
.same-type-box{
    width: 956px;
    overflow: hidden;
}

/* 产品左侧 */
.col-side-area {
    float: left;
    width: 224px;
}

.side-con {
    padding: 15px 15px 50px 15px;
    background: #edf8f0;
}

.tj-info {
	padding-bottom: 21px;
}

.side-con .type-bar {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.side-con .type-group {
    font-size: 0;
}

.side-con .type-group > li {
    display: inline-block;
    width: 50%;
}

.side-con .type-group .item {
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.side-con .type-group .item:hover {
    color: #f60;
}

.side-banner {
    width: 224px;
    height: 281px;
    margin-top: 6px;
    overflow: hidden;
}

.side-banner img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

/* 户外活动 */
.outdoor-type-box{
    height: 292px !important;
    overflow: hidden;
}
.outdoor-list-group {

}

.outdoor-list-group .item {
    float: left;
    width: 285px;
    margin-right: 20px;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.outdoor-list-group .item.mr_0 {
    margin-right: 0;
}

.outdoor-list-group .item:hover {
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
}

.outdoor-list-group .item > a {
    display: block;
}

.outdoor-list-group .status {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
}

.outdoor-list-group .status.ing {
    background: #26b86a;
}

.outdoor-list-group .status.full {
    background: #fe6651;
}

.outdoor-list-group .status.suc {
    background: #ffae00;
}

.outdoor-list-group .img-area {
    display: table-cell;
    width: 285px;
    height: 193px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: #e7e7e7;
}

.outdoor-list-group .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.outdoor-list-group .item:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.outdoor-list-group .info-area {
    padding-bottom: 5px;
    background: #f9f9f9;
}

.outdoor-list-group .info-area .tit {
    height: 48px;
    line-height: 24px;
    padding: 8px 10px 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.outdoor-list-group .info-area .data-bar {
    padding: 8px 10px 0;
}

.outdoor-list-group .info-area .date {
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.outdoor-list-group .item .data-bar .pri {
    float: right;
    color: #f60;
    height: 30px;
    line-height: 30px;
}

.outdoor-list-group .item .data-bar .pri .jg {
    font-size: 16px;
}

.outdoor-list-group .item .data-bar .pri .num {
    font-size: 20px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

/* 邮轮 */
.ship-type-box{
    width: 956px;
    overflow: hidden;
}
.ship-banner {
    width: 224px;
    height: 344px;
    overflow: hidden;
}

.ship-banner img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.ship-list-group {

}

.ship-list-group > li {
    float: left;
    width: 224px;
    margin: 0 20px 20px 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/*.ship-list-group > li.mr_0 {
    margin-right: 0;
}*/

.ship-list-group > li:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2);
}

.ship-list-group .name {
    color: #fff;
    display: block;
    height: 64px;
    line-height: 64px;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    background: #FF8B00;
}

.ship-list-group .info-area {
    display: block;
    padding: 8px 12px 5px;
    border: 1px solid #2dbb55;
    border-top: 0;
}

.ship-list-group .info-area .tit {
    height: 84px;
    line-height: 24px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ship-list-group .data-bar {
    padding: 8px 0 0;
}

.ship-list-group .data-bar .myd {
    color: #999;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}

.ship-list-group .data-bar .pri {
    float: right;
    color: #f60;
    height: 28px;
    line-height: 28px;
}

.ship-list-group .data-bar .pri .jg {
    font-size: 16px;
}

.ship-list-group .data-bar .pri .num {
    font-size: 20px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

/* 团购 */
.tuan-list-group {

}

.tuan-list-group .item {
    float: left;
    width: 285px;
    margin-right: 20px;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.tuan-list-group .item.mr_0 {
    margin-right: 0;
}

.tuan-list-group .item:hover {
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
}

.tuan-list-group .item > a {
    display: block;
}

.tuan-list-group .item .date {
    color: #fff;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    text-align: center;
    position: absolute;
    top: 161px;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 倒计时简单样式*/
.time-end {
	display: inline-block;
	overflow: hidden;
	line-height: 20px;
	color: #fff;
	padding: 6px 6px 6px 0;
}
.payment-time{
	display: inline-block;
	overflow: hidden;
	line-height: 20px;
	color: #fff;
	padding: 6px 0 6px 6px;
}
.payment-time em{
	color: #fff;
	/*background-color: #53BC64;*/
	padding: 0 4px;
	margin: 0 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-style: normal;
}

.tuan-list-group .item.ing .date {
    background: #53bc64;
}

.tuan-list-group .item.load .date {
    background: #ff9f16;
}

.tuan-list-group .img-area {
    display: table-cell;
    width: 285px;
    height: 193px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: #e7e7e7;
}

.tuan-list-group .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.tuan-list-group .item:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.tuan-list-group .info-area {
    padding-bottom: 5px;
    background: #f9f9f9;
}

.tuan-list-group .info-area .tit {
    height: 48px;
    line-height: 24px;
    padding: 8px 10px 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tuan-list-group .info-area .data-bar {
    padding: 8px 10px 0;
}

.tuan-list-group .info-area .yhq {
    display: inline-block;
}
.tuan-list-group .info-area .yhq .yj{
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.tuan-list-group .info-area .yhq .zk{
    color: #fff;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    margin-left: 3px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #f60;
}

.tuan-list-group .item .data-bar .pri {
    float: right;
    color: #f60;
    height: 30px;
    line-height: 30px;
}

.tuan-list-group .item .data-bar .pri .jg {
    font-size: 16px;
}

.tuan-list-group .item .data-bar .pri .num {
    font-size: 20px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

/* 导游 */
.guide-list-group {

}

.guide-list-group .item {
    float: left;
    width: 285px;
    margin-right: 20px;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.guide-list-group .item.mr_0 {
    margin-right: 0;
}

.guide-list-group .item:hover {
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
}

.guide-list-group .item > a {
    display: block;
}

.guide-list-group .item .date {
    color: #fff;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
    top: 161px;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.guide-list-group .item.ing .date {
    background: #53bc64;
}

.guide-list-group .item.load .date {
    background: #ff9f16;
}

.guide-list-group .img-area {
    display: table-cell;
    width: 285px;
    height: 193px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: #e7e7e7;
}

.guide-list-group .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.guide-list-group .item:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.guide-list-group .info-area {
    padding-bottom: 5px;
    background: #f9f9f9;
}

.guide-list-group .info-area .tit {
    display: block;
    height: 48px;
    line-height: 24px;
    padding: 8px 10px 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.guide-list-group .info-area .data-bar {
    padding: 8px 10px;
}

.guide-list-group .info-area .user {
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.guide-list-group .info-area .user img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: top;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.guide-list-group .item .data-bar .pri {
    float: right;
    color: #f60;
    height: 30px;
    line-height: 30px;
}

.guide-list-group .item .data-bar .pri .jg {
    font-size: 16px;
}

.guide-list-group .item .data-bar .pri .num {
    font-size: 20px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

/* 签证 */
.visa-type-box{
    height: 224px !important;
    overflow: hidden;
}
.visa-list-group {

}

.visa-list-group > li {
    float: left;
    width: 259px;
    padding: 10px 12px;
    margin: 0 20px 20px 0;
    border: 1px solid #2dbb55;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.visa-list-group > li.mr_0 {
    margin-right: 0;
}

.visa-list-group > li:hover {
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .2);
}

.visa-list-group .hd-img {
    float: left;
    width: 80px;
    height: 80px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.visa-list-group .hd-img img {
    width: 100%;
    height: 100%;
}

.visa-list-group .bd-con {
    height: 60px;
    padding: 10px 0 10px 100px;
}

.visa-list-group .bd-con .tit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.visa-list-group .bd-con .pri {
    color: #f60;
    margin-top: 10px;
}

.visa-list-group .bd-con .pri .jg {
    font-size: 16px;
}

.visa-list-group .bd-con .pri .num {
    font-size: 20px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

/* 扩展 */
.other-type-box{
    overflow: hidden;
}

/* 相册 */
.photo-list-group {

}

.photo-list-group .item {
    float: left;
    width: 224px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.photo-list-group .item-scroll {
    float: left;
    width: 224px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.photo-list-group .item.mr_0 {
    margin-right: 0;
}

.photo-list-group .item-scroll.mr_0 {
    margin-right: 0;
}

.photo-list-group .item:hover {
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
}

.photo-list-group .item-scroll:hover {
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
}

.photo-list-group .item .img-area {
    display: table-cell;
    width: 224px;
    height: 152px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: #e7e7e7;
}

.photo-list-group .item-scroll .img-area {
    display: table-cell;
    width: 224px;
	height: 152px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: #e7e7e7;
}

.photo-list-group .item .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.photo-list-group .item-scroll .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.photo-list-group .item:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.photo-list-group .item-scroll:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.photo-list-group .item .name {
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: rgba(0, 0, 0, .4);
}

.photo-list-group .item-scroll .name {
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: rgba(0, 0, 0, .4);
}

.photo-list-group .item:hover .name {
    bottom: 0;
}

.photo-list-group .item-scroll:hover .name {
    bottom: 0;
}

/* 结伴 */
.jieban-list-group {

}

.jieban-list-group > li {
    float: left;
    width: 253px;
    padding: 16px;
    margin-right: 20px;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: #f9f9f9;
}

.jieban-list-group > li.mr_0 {
    margin-right: 0;
}

.jieban-list-group > li:hover {
    background: #fff;
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
}

.jieban-list-group .status {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    color: #fff;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    font-size: 16px;
    background: #fe6651;
}

.jieban-list-group .img-area {
    display: table-cell;
    width: 253px;
    height: 172px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    background: #e7e7e7;
}

.jieban-list-group .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.jieban-list-group > li:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.jieban-list-group .info-area .tit {
    display: block;
    height: 48px;
    line-height: 24px;
    padding: 8px 10px 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.jieban-list-group .info-area .user {
    color: #999;
    height: 40px;
    line-height: 40px;
    padding: 15px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.jieban-list-group .info-area .data-bar {
	margin-top: 10px;
}

.jieban-list-group .info-area .user img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: top;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.jieban-list-group .info-area .item {
    color: #999;
    display: inline-block;
    font-size: 14px;
}

.jieban-list-group .info-area .item .num {
    color: #f60;
    padding: 0 3px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
}

/* 游记 */
.travel-notes-group {
    height: 320px;
    position: relative;
    overflow: hidden;
}

.travel-notes-group .item {
    position: absolute;
    overflow: hidden;
}

.travel-notes-group .first {
    top: 0;
    left: 0;
    width: 470px;
    height: 320px;
}

.travel-notes-group .second {
    top: 0;
    left: 488px;
    width: 224px;
    height: 152px;
}

.travel-notes-group .third {
    bottom: 0;
    left: 488px;
    width: 224px;
    height: 152px;
}

.travel-notes-group .fourth {
    top: 0;
    right: 0;
    width: 470px;
    height: 320px;
}

.travel-notes-group .first .img-area,
.travel-notes-group .fourth .img-area {
    width: 470px;
    height: 320px;
}

.travel-notes-group .second .img-area,
.travel-notes-group .third .img-area {
    width: 224px;
    height: 152px;
}

.travel-notes-group .item .img-area {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #e7e7e7;
}

.travel-notes-group .item .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.travel-notes-group .item:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.travel-notes-group .info-area {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    padding: 0 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: rgba(0, 0, 0, .4);
}

.travel-notes-group .item:hover .info-area {
    bottom: 0;
}

.travel-notes-group .info-area .tit {
    color: #fff;
    height: 26px;
    line-height: 26px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.travel-notes-group .info-area .user {
    height: 30px;
    padding: 10px 0;
}

.travel-notes-group .info-area .user img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.travel-notes-group .info-area .user .name,
.travel-notes-group .info-area .user .date {
    color: #fff;
    display: inline-block;
    max-width: 80px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

/* 攻略 */
.strategy-list-group {
}

.strategy-list-group > li {
    float: left;
    width: 285px;
    margin-right: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: #f9f9f9;
}

.strategy-list-group > li.mr_0 {
    margin-right: 0;
}

.strategy-list-group > li:hover {
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    background: #fff;
}

.strategy-list-group > li > a {
    display: block;
}

.strategy-list-group .img-area {
    display: table-cell;
    width: 285px;
    height: 193px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: #e7e7e7;
}

.strategy-list-group .img-area img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.strategy-list-group > li:hover .img-area img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.strategy-list-group .img-area .date {
    color: #666;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-family: Arial, "Microsoft YaHei", "宋体", Helvetica, sans-serif;
    background: #f9f9f9;
}

.strategy-list-group .info-area {
    padding: 15px;
}

.strategy-list-group .info-area .tit {
    height: 48px;
    line-height: 24px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.strategy-list-group .info-area .txt {
    color: #999;
    height: 44px;
    line-height: 22px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.strategy-list-group .info-area .line-bar {
    height: 1px;
    margin: 10px 0;
    position: relative;
    background: #e5e5e5;
}

.strategy-list-group .info-area .line-bar:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background: #2dbb55;
}

.strategy-list-group > li:hover .info-area .line-bar:after {
    width: 100%;
}

.partner-container {
    width: 100%;
	margin-top: 15px;
	margin-bottom: 50px;
}
.partner-container .partner-img {
    width: calc(100%/9);
	height: auto;
	float: left;
}
.partner-container .partner-logo-img {
    width: calc(100%/3);
	height: auto;
	float: left;
	background: #FF8B00;
}
.partner-container .partner-img.white {
	background: #fff;
}
.partner-container .partner-img.orange {
	background: #FF8B00;
}
.partner-container .partner-img img {
    width: 100%;
}
.partner-container .partner-logo-img img {
    width: 100%;
}
/*.partner-container img.long {
    width: calc(2*(100%/8));
	height: 151px;
}*/
.partner-container .partner-img:hover img {
    transition: .9s ease-out;
    transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
}
.partner-container .partner-logo-img:hover img {
    transition: .9s ease-out;
    transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
}

.cus-show { overflow: hidden;}
#slider{
	position:relative;
	text-align:center;
}
#slider .owl-dots{
    position: absolute;
    width: 100%;
    bottom: 5px;
}
#slider .owl-dots .active span,.cp-list .owl-dots .active span,.cp-img .owl-dots .active span {
    background: #FFAE4C !important;
}
@media only screen and (min-width:801px) {
    .column-list-group > li.mr_0 {
	    margin-right: 0;
	}
	.column-list-group .item:nth-of-type(5) {
	    margin-left: 0;
	}
	.ship-list-group > li.mr_0 {
        margin-right: 0;
    }
}
@media only screen and (max-width:800px) {
    .notice-msg { width: 100%; text-align: center;}
	.top-msg-group { display: none;}
	.header-search { display: none;}
	.wm-1200 { width: 100%}
	.column-container {
	    margin-top: 15px;
	}
	.column-bar .col-title {
	    height: 20px;
        line-height: 20px;
		font-size: 18px;
		padding-left: 10px;
	}
	.column-bar .tab-group {
		display: none;
	}
	.column-bar .more-link {
	    height: 20px;
        line-height: 20px;
		padding-right: 10px;
	}
	.column-list-group .first-item {
	    width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.column-list-group .first-item .img-area {
	    width: 800px;
        height: inherit;
	}
	.qf-first-item {
		width: 98%;
        margin: 0 1%;
	}
	.qf-first-item .img-area {
	    width: 800px;
        height: inherit;
	}
	.sec-items {
		width: 100%;
	}
	.column-list-group .item {
	    width: 48%;
        margin: 2% 1%;
	}
	.column-list-group .item .img-area {
	    width: 800px;
        height: inherit;
	}
	.column-list-group .item .tit {
	    font-size: 14px;
	}
	.col-side-area {
        width: 100%;
    }
    .side-con .type-group > li {
        width: 25%;
    }
	.side-con {
        padding: 15px;
    }
	.side-banner {
	    display: none;
	}
	.same-type-box {
	    width: 100%;
	}
	.ship-banner {
	    display: none;
    }
    .ship-type-box {
	    width: 100%;
    }
    .ship-list-group > li {
	    width: 48%;
	    margin: 2% 1%;
    }
    .ship-list-group .name {
	    height: 35px;
	    line-height: 35px;
	    font-weight: normal;
    }
    .ship-list-group .info-area .tit {
	    font-size: 14px;
    }
	.tuan-list-group .item {
		width: 96%;
        margin: 2%;
	}
	.photo-list-group .item-scroll {
		/*width: 48%;
		margin: 0 4px;
		padding: 0 8px;*/
	}
	.photo-list-group .item {
		width: 48%;
	    margin: 2% 1%;
	}
	.photo-list-group .item .img-area {
		width: 800px;
		height: inherit;
		vertical-align: text-bottom;
	}
	.photo-list-group .item-scroll .img-area {    
        width: 800px;
		height: inherit;
		vertical-align: text-bottom;
    }
	.photo-list-group .item .name {
		bottom: 0;
	}
	.photo-list-group .item-scroll .name {
		bottom: 0;
	}
	.photo-case li:nth-child(5) {
		display: none;
	}
	.strategy-list-group > li {
		width: 96%;
        margin: 2%;
	}
	.brand-list .item {
		width: 96%;
	    margin: 1% 2%;
		border: none;
	}
	.brand-list .item.last {
		width: 96%;
	    margin: 1% 2%;
	}
	.st-brand {
		margin-top: 10px;
	}
	.tuan-list-group .img-area {
		width: 800px;
	}
	.strategy-list-group .img-area {
		width: 800px;
		height: inherit;
	}
}
/*@media only screen and (min-width:768px) and (max-width:1199px) {
.partner-container .partner-img {
    width: calc(100%/6);
}
}*/
@media only screen and (min-width:320px) and (max-width:767px) {
.partner-container {
    margin-bottom: 0px;
}
.partner-container .partner-img {
    width: calc(100%/3);
}
.c2,.c3 {
    display: none;
}
}